/* variable gebruiken voor kleuren doorheen de website */
.bg-primary-blue {
  background-color: #0077b6;
}

.text-primary-blue {
  color: #0077b6;
}

.btn-primary-blue {
  background-color: #0077b6;
  color: white;
}

.btn-accent {
  background-color: #00b4d8;
  color: white;
}

.btn-accent:hover {
  background-color: #0077b6;
}

.hero-img {
  height: 420px;
  object-fit: cover;
}